<div class="conteiner-fluid text-center">
  
</div>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>juegos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="inicio.component.css">
        
    </head>
<body>

    
    <main class="contenedor">
        <h1 class="fw-300 centrar-texto" >Conoce sobre Nosotros</h1>

        <div class="contenido-nosotros">
            <div class="imagen">
                <img src="https://http2.mlstatic.com/D_NQ_NP_751429-MCO43694393743_102020-O.jpg" height="810px" alt="">
            </div>
            <div class="texto-nosotros">
                <blockquote>25 Años de Experiencia</blockquote>
            
            <p>
                Somos una empresa reconocida por vender videojuegos para su diversion 
                 y a los mejores precios.
                 Buscamos ser los mejores y posicionarnos en lo mas alto del mercado. 
                 Ser una empresa líder en el sector del ocio, 
                 centrando nuestros esfuerzos en la innovación y en la excelencia, 
                 tanto en la calidad del servicio como en la atención al cliente. Ofrecer diversión, 
                 emoción y sensaciones con la mejor y más variada oferta de juego.
            </p>
            <p>
                En los juegos de rol y en videojuegos, 
                la experiencia es un valor que los personajes jugadores van acumulando a medida que participan en partidas y sesiones de juego, y representan su progreso en el juego. 
                La razón de ser de la representación de la experiencia en los juegos de rol es bastante sencilla: cuantas más partidas juega un jugador con un personaje determinado,
                más experiencia se supone que acumula ese personaje. 
                
              .
            </p>
            <p>
                El personaje adquiere entonces habilidades nuevas o se perfecciona en las que ya posee.
                Cada sistema de juego tiene diferentes maneras de representar el aumento de experiencia de los personajes. 
                Los dos métodos más habituales son: 
            </p>
            <p>
                El director de juego distribuye puntos de experiencia que incrementan las capacidades del personaje.
                Las tiradas de experiencia, consiste en una aventura gráfica el personaje puede, por ejemplo, 
                ir recolectando objetos o informaciones transmitidas por otros personajes del juego
            </p>
            </div>
        </div>

    </main>

    <section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Mas sobre nosotros</h2>

        <div class="iconos-nosotros">
            <div class="icono">
                <img src="https://thumbs.dreamstime.com/b/icono-de-tienda-conveniencia-en-dise%C3%B1o-plano-con-color-verde-y-contorno-un-fondo-c%C3%ADrculo-l%C3%ADnea-219251620.jpg" width="100px" height="100px">
                <h3>Servicio 24 horas</h3>
                <p>
                    Brindamos un servicio 24 horas para que puede realizar sus comprar y disfrutar de sus videojuegos a cualquier hora del dia.
                </p>
            </div>
            <div class="icono">
                <img src="https://icones.pro/wp-content/uploads/2021/11/icone-vert-camion.png" width="100px" height="100px">
                <h3>Envios a domicilio</h3>
                <p>
                    Realizamos envios a cualquier parte del pais con tiempos de entrega excelentes para que disfrunten mas rapidos sus juegos.
                </p>
            </div>
            <div class="icono">
                <img src="https://thumbs.dreamstime.com/z/insignia-certificado-medalla-calidad-recompensa-placa-del-premio-cinta-icono-color-verde-el-logro-bandera-muestra-negro-gr%C3%A1fico-142152371.jpg "height=100px width="100px" >
                <h3>Logros</h3>
                <p>
                    esperamos cumplir con todas sus espectativas ya cumplimo con estandares de calidad altos.
                </p>
            </div>
           
        </div>
    </section>

    
</body>
</html>
